.navbar.navbar-inverse
    .navbar-header
        btn(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-inverse-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a(class="navbar-brand", href="/") AnimalGuess
    .navbar-collapse.collapse.navbar-inverse-collapse
        ul.nav.navbar-nav
            li
                a(href="/newgame") New Game
            //- li
            //- a(href="/animal") Add Animal
            //- li
            //- a(href="/question") Add Question
            li(class=path=='/about'?'active':undefined)
                a(href="/about") About
