.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
			a.brand(href="/") Animal AI
			.nav-collapse
				ul.nav
					li
						a(href="/animal") Add Animal
					li
						a(href="/question") Add Question
					li
						a(href="/about") About

