doctype html
html
		include includes/header
		body
			include includes/topbar
			div.container
				div.hero-unit
					p &copy;  Tim Rochford, 2014. Distributed under the terms of the GNU Lesser GPL.
					a(href='/COPYING.LESSER') GNU Lesser GPL. 
					div.row
						div.span12
								h3 Source code:
								a(href='https://code.google.com/p/animal-ai/') https://code.google.com/p/animal-ai/

