doctype html
html(lang="en")
	include includes/header
	body
		include includes/topbar
		div.container-fluid
			div.content
				div.jumbotron
						div.row
							div.span12
									div.row
										form(class="horizontal", name="addanimal",method='post',action='/animal')
											legend #{pageTitle}
											div.span12
												label Animal name
												input(name='name',type='text',class="form-control",placeholder="")
												- if (qAndA.length)
														table.table-striped
															each x in qAndA
																tr
																	td= x
																	td
																		input(name=x,type='radio',value='no')
																		| No
																		input(name=x,type='radio',value='yes')
																		| Yes
													div.span12
														a(class="btn btn-default" href='/') Cancel
														input(name='submit',type='submit',class="btn btn-primary").submit-button

include includes/footer

