doctype html
html(lang="en")
	include includes/header
	body
		include includes/topbar

		div.container-fluid
				div.content
					div.jumbotron
						div.row
							label.label-primary Question Number #{questionNumber}
							+listQAndA(qAndAValue)
							h3 Is it a #{guess}?
								div.row
									a(class="btn btn-default" href='/guessno') No
									a(class="btn btn-success" href='/guessyes') Yes
include includes/footer
