doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container
				div.content
					div.hero-unit
						div.row
							h3 My guess is...
								h2 #{guess}
									div.row
										div.span4
											a(href='/guessyes') Yes
											a(href='/guessno') No
include includes/footer
