doctype html
html(lang="en")
	include includes/header
	body
		include includes/topbar

		div.container-fluid.visible-md.visible-lg
			// Carousel
			#myCarousel.carousel.slide(data-ride="carousel")
				// Indicators
				ol.carousel-indicators
					li.active(data-target="#myCarousel" data-slite-to="0")
					li(data-target="#myCarousel" data-slite-to="1")
					li(data-target="#myCarousel" data-slite-to="2")
				// Wrapper for slides
				.carousel-inner
					.item.active
						img(src="images/elephant.png" max-height="160px", max-width="300px", alt="animal guess game 20 questions")
						.container
							.carousel-caption
								.span6
									label.label-info Is it considered intelligent?
								label.label-success Yes
					.item
						img(src="images/rhino.png" max-height="160px", max-width="300px",alt="animal guess game 20 questions")
						.container
							.carousel-caption
								.span6
									label.label-info Does it live in Africa?
								label.label-success Yes
					.item
						img(src="images/cat.png" max-height="160px",max-width="300px", alt="animal guess game 20 questions")
						.container
							.carousel-caption
								.span6
									label.label-info Is it a pet?
								label.label-success Yes
				a.left.carousel-control(href="#myCarousel" data-slide="prev") &lsaquo;
				a.right.carousel-control(href="#myCarousel" data-slide="next") &rsaquo;

		p
		div.container.text-center
			div.jumbotron
				a(class="btn btn-primary btn-lg" href='/newgame') Play Game
				h2 Think of an animal and play the game! 
				h4 AnimalGuess will ask questions to guess the animal.

		p
		div.container
			div.jumbotron
				div.row
					div.col-sm-6
						a(class="btn btn-primary btn-lg" href='/animal') Add Animal
						h4
							//- label.label-info Number of animals #{numberAnimals}
							p Help improve AnimalGuess by adding an animal.
					div.col-sm-6
						a(class="btn btn-primary btn-lg" href='/question') Add Question
						h4
							//- label.label-info Number of questions #{numberQuestions}
							p Help improve AnimalGuess by adding a question.

	include includes/footer
