doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container
				div.content
					div.jumbotron
						div.row
								div.span12
									p AnimalGuess does not know the animal
									- if (qAndAValue.length)
										table.table-striped
											each x in qAndAValue
												tr
													td
														label #{x.question}
													td
														label.label-info #{x.answer}
						div.row
							div.span12
								p Make AnimalGuess more intelligent by adding the animal
						div.row
							div.span6.offset3
								a(class="btn btn-primary btn-lg" href='/animal') Add Animal

include includes/footer
