doctype html
html
  head
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    title= pageTitle

  body
    div.container
        div.content
          div.hero-unit
            XXX TODO

include includes/footer
