doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container
			div.content
					div.row
						div.span4
							span.label= pageTitle
							form(method='post',action='/question')
							div.row
								div.span4
									input(name='newquestion',type='text')
								div.row
									div.span4
										input(name='submit',type='submit').submit-button

include includes/footer
