doctype html
html(lang="en")
		include includes/header
		body
			include includes/topbar
			div.container
				div.jumbotron
					legend #{pageTitle}
					p &copy;  Tim Rochford, 2014. 
					p Distributed under the terms of the GNU Lesser GPL.
					a(href='/COPYING.LESSER') GNU Lesser GPL. 
					p
					p This webserver uses cookies to store information about the previous questions asked.
					p Source code:
					a(href='https://code.google.com/p/animal-ai/') https://code.google.com/p/animal-ai/

