doctype html
html
	include includes/header
	body
		include includes/topbar
		div.container
			div.content
					div.row
						div.span12
							h4 #{pageTitle}
								div.row
									form(method='post',action='/animal')
										div.span12
											h5 Animal name
											input(name='name',type='text')
											- if (qAndA.length)
													each x in qAndA
														div.row
															div.span4
																span.label= x
															div.span4
																input(name=x,type='radio',value='yes')
																| Yes
																input(name=x,type='radio',value='no')
																| No
												div.row
													div.span4
														input(name='submit',type='submit').submit-button

include includes/footer

