doctype html
html(lang="en")
	include includes/header
	body
		include includes/topbar

		div.container-fluid
				div.content
					div.jumbotron
						div.row
							label.label-danger Question Number #{questionNumber}
							+listQAndA(qAndAValue)
						div.row
							div.span12
								p #{question}
									div.row
										a(class="btn btn-default" href='/no') No
										a(class="btn btn-success" href='/yes') Yes
include includes/footer
