doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container-fluid
				div.content
					div.hero-unit
						div.row
							h3 Animal AI thinks the animal is...
								h2 #{guess}
									div.row
										div.span4
											a(href='/guessyes') Correct
											p 
											a(href='/guessno') Incorrect
include includes/footer
