doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container
				div.content
					div.hero-unit
						div.row
								div.span4
									span.label My guess is...
									div.span4
										span.label= guess
											div.row
												div.span4
													a(href='/guessyes') Yes
													a(href='/guessno') No
include includes/footer
