doctype html
html
	include includes/header
	body
		include includes/topbar
		div.container-fluid
			// Carousel
			#myCarousel.carousel.slide(data-ride="carousel")
				// Indicators
				ol.carousel-indicators
					li.active(data-target="#myCarousel" data-slite-to="0")
					li(data-target="#myCarousel" data-slite-to="1")
					li(data-target="#myCarousel" data-slite-to="2")
				// Wrapper for slides
				.carousel-inner
					.item.active
						img(src="images/elephant.png" alt="elephant")
						.container
							.carousel-caption
								p Is it considered intelligent?
					.item
						img(src="images/rhino.png" alt="rhino")
						.container
							.carousel-caption
								p Can you see it in a zoo?
					.item
						img(src="images/cat.png" alt="cat")
						.container
							.carousel-caption
								p Is it domesticated?
				a.left.carousel-control(href="#myCarousel" data-slide="prev") &lsaquo;
				a.right.carousel-control(href="#myCarousel" data-slide="next") &rsaquo;

		div.hero-unit
			div.row
				div.span12
					h3 Think of an animal. Animal AI will ask questions to guess the animal.
			div.row
				div.span12.offset5
					a(class="btn btn-primary btn-lg" href='/game') Play Game
		div.row
			div.container-fluid
				div.span6
					div.hero-unit
						a(class="btn btn-primary btn-lg" href='/animal') Add Animal
						h4
							p.label.label-info Number of animals #{numberAnimals}
							p Help improve Animal AI by adding an animal.
				div.span6
					div.hero-unit
						a(class="btn btn-primary btn-lg" href='/question') Add Question
						h3
							p.label.label-info Number of questions #{numberQuestions}
						h4
							p Help improve Animal AI by adding a question.

	include includes/footer
