doctype html
html
		include includes/header
		body
			include includes/topbar
			div.container
				div.hero-unit
					h2 Think of an animal. Computer ask questions to guess the animal
					div.row
							div.span12
								span.label Number of animals #{numberAnimals}
					div.row
							div.span12
								a(href='/game') Play Game
	include includes/footer
