doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container
				div.content
					div.hero-unit
						div.row
								div.span12
									p Animal AI does not know the animal
									- if (qAndAValue.length)
										each x in qAndAValue
											div.row
												div.span3
													em.label #{x.question}
												div.span1
													em.label.label-info #{x.answer}
						div.row
							div.span12
								p Make Animal AI more intelligent by adding the animal
						div.row
							div.span6.offset3
								a(class="btn btn-primary btn-lg" href='/animal') Add Animal

include includes/footer
