doctype html
html(lang="en")
	include includes/header
	body
		include includes/topbar

		div.container-fluid
				div.content
					div.jumbotron
						div.row
								div.span12
									p AnimalGuess does not know the animal
									+listQAndA(qAndAValue)
						div.row
							div.span12
								p Make AnimalGuess more intelligent by adding the animal
						div.row
							div.span6.offset3
								a(class="btn btn-primary btn-lg" href='/animal') Add Animal

include includes/footer
