doctype html
html
	include includes/header
	body
		include includes/topbar

		div.container-fluid
			div.span12
				div.hero-unit
					h3 #{pageTitle}
					h4 Add a question to Animal AI. 
					p Add good question will be applicable to many animal species and will have a 'Yes' or 'No' answer. 
					p.label.label-warning Remember to put a question mark ('?') at the end.
					form(method='post',action='/question')
						div.row
							div.span8
								input(name='newquestion',type='text')
								input(name='submit',type='submit').submit-button

include includes/footer
