doctype html
html(lang="en")
	include includes/header
	body
		include includes/topbar

		div.container-fluid
				div.content
					div.jumbotron
						div.row
								div.span12
									p AnimalGuess won! 
									+listQAndA(qAndAValue)
								div.span12.text-center
									a(class="btn btn-primary btn-lg" href='/newgame') Play Again

include includes/footer
